{% extends "manage/gallery/base.html" %}
{% load i18n %}

{% block tabs %}
  <ul>
    <li class="ui-tabs-nav-item"><a href="#data">{% trans 'Add gallery item' %}</a></li>
  </ul>

  <div id="data">
      <h2>{% trans 'Add gallery item' %}</h2>
      <form action="{% url add_gallery_item %}"
            method="post"
            enctype="multipart/form-data">{% csrf_token %}
          {{form.as_p}}
          <input type="submit"
                 value="{% trans 'Add' %}" />
              {% if request.META.HTTP_REFERER %}
                  <input type="button"
                         onclick="window.location='{{request.META.HTTP_REFERER}}'"
                         value="{% trans 'Cancel' %}" />
              {% else %}
                  <input type="button"
                         onclick="window.location='{% url lfs_manage_actions %}'"
                         value="{% trans 'Cancel' %}" />

              {% endif %}
      </form>
  </div>
{% endblock %}
