{% extends "manage/gallery/base.html" %}
{% load i18n %}

{% block actions %}

  <span class="label">{% trans 'Gallery' %}: {{ item.gallery.title }}</span>

  <a class="add"
     href="{% url add_gallery %}">{% trans 'Add gallery' %}</a>

  <a class="delete confirmation-link"
     data="{% trans 'Delete' %}?"
     href="{% url del_gallery item.gallery.id %}">{% trans 'Delete gallery' %}</a><br/>

  <span class="label">{% trans 'Gallery item' %}: {{ item.title }}</span>

  <a class="add"
     href="{% url add_gallery_item %}">{% trans 'Add gallery item' %}</a>

  <a class="delete confirmation-link"
     data="{% trans 'Delete' %}?"
     href="{% url del_gallery_item item.id %}">{% trans 'Delete gallery item' %}</a>
{% endblock %}

{% block tabs %}
  <ul>
      <li class="ui-tabs-nav-item"><a href="#data">{% trans 'Gallery item' %}</a></li>
  </ul>

  <div id="data">
      <h2>{% trans 'Gallery item' %}</h2>
      <form action="{% url manage_gallery_item item.id %}"
            method="post"
            enctype="multipart/form-data">{% csrf_token %}
          {{form.as_p}}
          <input type="submit"
                 value="{% trans 'Save' %}">
      </form>
  </div>
{% endblock %}
